
body {
  background-color: lightblue;
  text-align: center;
  
}
p {
  text-decoration-color: white;;
  font-size: 20px;
  text-shadow: 2px 2px white;
}
h2 {
  text-decoration-color: turquoise;
  font-size: 40px;
  text-shadow: 2px 2px white;
}
li {
  font-size:30px;
}
