
body {
  background-image: url("https://media.cntraveler.com/photos/6127fa90d9d4de6f3ecbb6c3/16:9/w_1920,c_limit/New%20Mexico_GettyImages-610929694.jpg");
  text-align: auto;
  
}
p {
  text-decoration-color: white;;
  font-size: 20px;
  text-shadow: 2px white;
}
h2 {
  text-decoration-color: turquoise;
  font-size: 40px;
  text-shadow: 2px white;
}
